/* ROOT */
:root {
  --white: #fff;
  --black: #000000;
  --red: #ff0000;
  --yellow: #ffee00;
  --green: #00ff0d;
  --pink: #f700ff;
  --purple: #2600ff;
  --blue: #0059ff;
  --midnightblue: #01a2ff;
  --orange: #ffc400;
}
